<h1>Contact</h1>

<p>
    If you have business inquiries or other questions, please fill out the following form to contact us. Thank you.
</p>

<div class="row">

    <div class="col-lg-5">
        <form id="contact-form" method="post" role="form" >

            <div class="form-group field-contactform-name required">
                <label class="control-label" for="contactform-name">Name</label>
                <input type="text" id="contactform-name" class="form-control">
                <p class="help-block help-block-error"></p>
            </div>

            <div class="form-group field-contactform-email required">
                <label class="control-label" for="contactform-email">Email</label>
                <input type="text" id="contactform-email" class="form-control">
                <p class="help-block help-block-error"></p>
            </div>

            <div class="form-group field-contactform-subject required">
                <label class="control-label" for="contactform-subject">Subject</label>
                <input type="text" id="contactform-subject" class="form-control">
                <p class="help-block help-block-error"></p>
            </div>

            <div class="form-group field-contactform-body required">
                <label class="control-label" for="contactform-body">Body</label>
                <textarea id="contactform-body" class="form-control" rows="6"></textarea>
                <p class="help-block help-block-error"></p>
            </div>

            <div class="form-group field-contactform-verifycode">
                <label class="control-label" for="contactform-verifycode">Verification Code</label>
                <div class="row">
                    <div class="col-lg-3">
                        <img id="contactform-verifycode-image" src="site/captcha" alt="">
                    </div>
                    <div class="col-lg-6">
                        <input type="text" id="contactform-verifycode" class="form-control" name="">
                    </div>
                </div>
                <p class="help-block help-block-error"></p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="contact-button">Submit</button>
            </div>

        </form>
    </div>
</div>
